.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004200;
    color: #F0F3F5;
    padding: 2rem;
}

.creatorLink {
    color: antiquewhite;
    border-bottom: 1px solid antiquewhite;
    padding-bottom: 2px;
}